body{
    margin: 0px;
    padding: 0px;
}

.body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    min-height: 100vh;
}

.logo, .left-box-text-1 {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

a, .left-box-text-2 {
    color: #c0c0c0;
    font-size: 18px;
}

.body-1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1 1 0;
}

ul {
    display: flex;
    gap: 15px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

li {
    list-style: none;
}

.body-1-content {
    display: flex;
    align-self: center;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.left-box-text-1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
}

.right-image {
    flex: 1;
    background-color: #a1a1a1;
    width: 200px;
    height: auto;
    margin-left: 20px;
    border-radius: 16px;
}

.header-button {
    width: 110px;
    flex: 0 1 0;
    padding: 5px;
    color: #f9faf8;
    background-color: #3882f6;
    margin-top: 15px;
    border-radius: 8px;
    border: 0px;
}

.body-2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.body-2-text {
    font-size: 30px;
    font-weight: 700;
    margin: 30px;
    align-self: center;
}

.boxes {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.small-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

.text {
    margin: 5px;
    text-align: center;
    width: 140px;
    font-size: 14px;
}

.body-image {
    background-color: #a1a1a1;
    width: 140px;
    height: auto;
    border-radius: 16px;
    display: flex;
}

.body-3 {
    background-color: #e5e7eb;
}

.body-4 {
    background-color: #ffffff;
}

.footer {
    background-color: #1f2937;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 60px;
}