.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links, .left-box-text-2 {
    color: #e5e7eb;
}

.body-1 {
    background-color: #1f2937;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

.body-1-content {
    display: flex;
}

.body-2 {
    background-color: #ffffff;
}

.body-3 {
    background-color: #e5e7eb;
}

.body-4 {
    background-color: #ffffff;
}

.footer {
    background-color: #1f2937;
    color: #ffffff;
}